.fs {
	color: var(--primary);
}

.detailHeader {
	color: var(--primary) !important;
	font-size: var(--elarge-font) !important;
}

.rightColMian {
	padding: 50px !important;
}
.leftColMian {
	padding: 50px !important;
}

.RightCol {
	font-size: var(--font-small) ;
	font-weight: 200;
	color: var(--primary) !important;
}

.boldTableText {
	font-weight: 900 !important;
	color: var(--primary) !important;
	font-size: var(--font-small) !important;
}

.leftCol {
	/* line-height: 1.5; */
	color: var(--primary) !important;
	font-size: var(--large-font);
}

.rep {
	font-weight: 400;
}

.tableRow {
	font-size: var(--font-small) !important;
	width: 45%;
	transition: all 0.3s;
}

.tableRowEmi {
	font-size: var(--font-small);
	width: 10%;
	transition: all 0.3s;
}

.tableRow2 {
	font-size: var(--font-small) !important;
	text-align: end;
	transition: all 0.3s;
}

.tableHeader {
	/* color: var(--primary); */
	transition: all 0.3s;
	font-size: var(--font-small) !important;
}

.refButtons {
	font-size: var(--font-small);
}
