@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('./styles//styles//layout/layout.scss');
@import url('primeicons/primeicons.css');
:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: rgb(172, 102, 12);
  --font-small: 0.8rem;
  --large-font: 1.1rem;
  --elarge-font: 1.3rem;
  --bs-warning-rgb: rgb(54, 199, 108);
}

body {
  font-family: 'Ubuntu', sans-serif !important;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(247, 249, 250);
  -webkit-scrollbar {
    width: 12px !important;
    color: red !important;
  }
}

.pageMargin {
  margin: 0rem 7rem 0rem 7rem !important;
}
@media (max-width: 768px) {
  .pageMargin {
    margin: 0rem;
  }
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

li {
  list-style: none;
}

.primaryButton {
  background-color: var(--primary);
  border: var(--primary);
  box-shadow: none;
}

.boldTableText {
  font-weight: 900 !important;
  /* color:var(--primary) !important; */
  font-size: var(--font-small) !important;
}

/* for table component */
.p-component {
  font-family: 'Ubuntu', sans-serif !important;
}
